<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.nordakademie.org/mwi/tickets/Tickets" 
       class = "org.nordakademie.mwi.tickets.tickets.TicketsPackage"
       genModel = "model/generated/Tickets.genmodel" /> 
	
  </extension>



</plugin>
